@{
    ViewData["Title"] = "NewCategory";
}

@{
    Layout = null;
}

@model Domain.Dtos.CategoryDtos.CategoryDto


<link rel="stylesheet" href="~/css/_CategoryModal.css" />

<div id="categoryCreationModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        @using (Html.BeginForm("CreateCategory", "Home", FormMethod.Post, new { id = "categoryCreationForm" }))
        {
            <div>
                @Html.LabelFor(m => m.Title)
                @Html.TextBoxFor(m => m.Title)
            </div>
            <div>
                @Html.LabelFor(m => m.Type)
                @Html.TextBoxFor(m => m.Type)
            </div>
            <div>
                @Html.LabelFor(m => m.PercentageAmount)
                @Html.TextBoxFor(m => m.PercentageAmount)
            </div>
            <button type="submit">Створити</button>
        }
    </div>
</div>

<script src="~/js/_CategoryModal.js"></script>
