@{
    ViewData["Title"] = "NewCategory";
}

@{
    Layout = null;
}

@model Domain.Dtos.CategoryDtos.CategoryDto


<link rel="stylesheet" href="~/css/_CategoryModal.css" />

<div id="categoryCreationModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        @using (Html.BeginForm("CreateCategory", "Home", FormMethod.Post, new { id = "categoryCreationForm" }))
        {
            <div>
                @Html.LabelFor(m => m.Title)
                @Html.TextBoxFor(m => m.Title, new { required = "required" })
            </div>
            <div>
                @Html.LabelFor(m => m.Type)
                <select id="typeSelect" asp-for="Type">
                    <option value="Дохід">Дохід</option>
                    <option value="Баланс">Баланс</option>
                    <option value="Витрати">Витрати</option>
                </select>
            </div>
            <div>
                @Html.LabelFor(m => m.PercentageAmount)
                @Html.TextBoxFor(m => m.PercentageAmount, new { type = "number", min = "0", max = "100" })
                @Html.ValidationMessageFor(m => m.PercentageAmount)
            </div>
            <button type="submit">Створити</button>
        }
    </div>
</div>

<script src="~/js/_CategoryModal.js"></script>
