using 
@{
    ViewData["Title"] = "SignUp";
}
@model ThinkTwice.Dtos.RegisterUserDto

@using (Html.BeginForm("CreateUser", "Auth", FormMethod.Post))
{
    <div>
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name)
    </div>
    <div>
        @Html.LabelFor(m => m.Surname)
        @Html.TextBoxFor(m => m.Surname)
    </div>
    <div>
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email)
    </div>
    <div>
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password)
    </div>
    <div>
        @Html.LabelFor(m => m.PasswordRepeat)
        @Html.PasswordFor(m => m.PasswordRepeat)
    </div>
    <button type="submit">Register</button>
}

@*
@{
    ViewData["Title"] = "SignUp";
}
<div class="sign_up_window">
    <form class = "form-content">
        <img src="/Assets/Images/bar_chart_growth_logo.png" alt="alt text" />
        <h1>Реєстрація</h1>
        <div class="textBox">
            <input class="input" placeholder = "Ім'я" data-val="true" id="a" value=""/>
            <br/>
            <input class="input" placeholder="Прізвище" data-val="true" id="b" value=""/>
            <br/>
            <input class="input" placeholder="Email" data-val="true" id="c" value=""/>
            <br/>
            <input class="input" placeholder="Пароль" data-val="true" id="d"  value=""/>
            <br/>
            <input class="input" placeholder="Підтвердіть пароль"  data-val="true" id="e"  value=""/>
            <br/>
            <input type="text" class="input" placeholder="Дата народження" id="birthdate" name="birthdate" value=""/>

            <br/>
            <div style="position: relative;" class="input">
              <label class="currency_label"> Валюта </label>
              <select class="currency_selector" id="currency" name="currency">
                <option value="USD">USD</option>
                <option value="EUR">EUR</option>
                <option value="GBP">UAH</option>
                <!-- Додайте інші валюти за потребою -->
              </select>
            </div>
            <br/>
            <button id="submit" type="submit" value="Submit" onclick="btnSubmit_Click()"
                    class="btn btn-primary" runat="server">Зареєструватись</button>
        </div>
    </form>
</div>
*@
