@{
    ViewData["Title"] = "Settings";
}
@model Domain.Dtos.UserDtos.UserDto

@{
    Layout = null;
}

<link rel="stylesheet" href="~/css/Settings.css" />

<div>
    <div style="grid-row: 1; vertical-align: top; grid-column-span: 2;">
        <div style="display: grid; grid-template-rows: auto auto auto auto auto 3fr 0.5fr;">
            <div style="grid-row: 1;" class="user-info">
                <div class="user-info-inner">
                    <div class="user-info-title">
                        <span style="color: #011140; padding: 5px;">Ім'я:</span>
                    </div>
                    <div class="user-info-value">
                        <input type="text" placeholder=@Model.Name disabled name="textBoxName" disabled>
                    </div>
                </div>
            </div>
            <div style="grid-row: 2;" class="user-info">
                <div class="user-info-inner">
                    <div class="user-info-title">
                        <span style="color: #011140; padding: 5px;">Прізвище:</span>
                    </div>
                    <div class="user-info-value">
                        <input type="text" placeholder=@Model.Surname disabled name="textBoxSurname" disabled>
                    </div>
                </div>
            </div>
            <div style="grid-row: 3;" class="user-info">
                <div class="user-info-inner">
                    <div class="user-info-title">
                        <span style="color: #011140; padding: 5px;">Ел.адреса:</span>
                    </div>
                    <div class="user-info-value">
                        <input type="text" placeholder=@Model.Email name="textBoxEmail" disabled>
                    </div>
                </div>
            </div>
            <div style="grid-row: 4;" class="user-info">
                <div class="user-info-inner">
                    <div class="user-info-title">
                        <span style="color: #011140; padding: 5px;">Дата народження:</span>
                    </div>
                    <div class="user-info-value">
                        <input type="text" placeholder=@Model.BirthDate name="datePickerBirthdate" disabled>
                    </div>
                </div>
            </div>
            <div style="grid-row: 5;" class="user-info">
                <div class="user-info-inner">
                    <div class="user-info-title">
                        <span style="color: #011140; padding: 5px;">Валюта:</span>
                    </div>
                    <div class="user-info-value">
                        <input type="text" placeholder=@Model.Currency name="textBoxCurrency" disabled>
                    </div>
                </div>
            </div>

            <div style="grid-row: auto;" class="user-info">
                <div class="user-info-inner">
                    <div class="user-info-title">
                        <span style="color: #011140; padding: 5px;">Categories:</span>
                    </div>
                </div>
                <div style="display: flex; flex-wrap: wrap;">
                    @foreach (var category in Model.Categories)
                    {
                        <div id="@category.Title" style="height: auto; max-width:fit-content; background-color: #A8B2C0; display: grid;">
                            <div style="display: grid; grid-template-columns: auto 2fr 5fr;">
                                <div class="user-info-value" style="display:inline-flex">
                                    <input type="text" placeholder="@category.Title" name="textBoxTitle" disabled style="flex: 1;">
                                    @if (category.UserId != null)
                                    {
                                        <form asp-action="DeleteCategory" method="post" style="margin: 0;" onsubmit="return confirm('Are you sure you want to delete this category?')">
                                            <input type="hidden" asp-for="@category.Title" />
                                            <input type="hidden" asp-for="@category.UserId" />
                                            <button type="submit" style="height: 100%; background-color: white; border:none;">&times;</button>
                                        </form>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<button id="openModalButton">Створити категорію</button>
@* @Html.Partial("_EditCategoryModal", Model.Categories.First())
 *@
@Html.Partial("_CategoryModal", new Domain.Dtos.CategoryDtos.CategoryDto())
